<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= link_to "BBQ!", root_path, class: 'navbar-brand' %>
      <div class="navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to 'Профиль', current_user %></li>
            <li><%= link_to 'Выйти', destroy_user_session_path,
                    method: :delete %></li>
          <% else %>
            <li><%= link_to 'Войти', new_user_session_path %></li>
            <li><%= link_to 'Зарегистрироваться',
                    new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>

    <%= yield %>
    </div>
  </body>
</html>
