<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="d-flex buffer-both">
      <div class="col-6 col-md-6">
        <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
      </div>
      <div class="col-6 col-md-6">
        <ul class="nav d-flex justify-content-end">
          <% if user_signed_in? %>
            <li><%= link_to 'Профиль', current_user, class: 'text-decoration-none' %></li>
            <li><%= link_to 'Выйти', destroy_user_session_path,
                    method: :delete, class: 'buffer-left nav-item text-decoration-none' %></li>
          <% else %>
            <li><%= link_to 'Войти', new_user_session_path, class: 'text-decoration-none' %></li>
            <li><%= link_to 'Зарегистрироваться',
                    new_user_registration_path, class: 'buffer-left nav-item text-decoration-none' %></li>
          <% end %>
        </ul>
      </div>
      </div>

    <%= yield %>

    <footer>
      <p>&copy; <%= t('app.company') %> 2018</p>
    </footer>
    </div>
  </body>
</html>
